body {
  margin: 0px;
}
.product-box {
  width: 312px;
  height: 418px;
  background: #d3fbd9;
  border-radius: 5px;
  margin: 24px;
  padding: 24px;
}

.product-img {
  display: block;
  margin: 0 auto;
}

.img-section {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.product-color {
  height: 16px !important;
  width: 16px !important;
  border-radius: 8px;
}

.colors-container {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  width: 160px;
}

.price {
  font-size: 14px;
  margin-top: 60px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.product-box2 {
  width: 312px;
  height: 418px;
  background: #ffe4bd;
  border-radius: 5px;
  margin: 24px;
  padding: 24px;
}

.img-section2 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.product-img2 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.colors-container2 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  width: 160px;
}

.product-color2 {
  height: 16px;
  width: 16px;
  border-radius: 8px;
}

.product-box3 {
  height: 418px;
  width: 312px;
  background: #d9abfd;
  border-radius: 5px;
  margin: 24px;
  padding: 24px;
}

.product-img3 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.colors-container3 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  width: 90px;
}

.product-color3 {
  height: 16px;
  width: 16px;
  border-radius: 8px;
}

.price3 {
  font-size: 14px;
  margin-top: 60px;
}

.product-box4 {
  height: 418px;
  width: 312px;
  border-radius: 5px;
  margin: 24px;
  padding: 24px;
  background: #fdf0ab;
}

.product-img4 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.colors-container4 {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  width: 160px;
}

.product-color4 {
  height: 16px;
  width: 16px;
  border-radius: 8px;
}

/* .horizontal-box1{
    height: 174px;
    width: 424px;
    border-radius: 5px;
    margin-top: 48px;
    background: #F5F6F8;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start 
    

} */

.h-text1 {
  /* width: 113px;
    height: 40px;
    margin-top: 891px;
    margin-left: 324px; */
  font-size: 16px;
}

/* .horizontal-box1{
    width: 424px;
    height: 174px;
    background: #F5F6F8;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
.paragraph {
  /* width: 176px;
   height: 32px; */
  /* display: flex;
   flex-direction: column; */
  font-size: 12px;
}
/* new css start */
/* .horizontal-box2{
 width: 424px;
 height:174px;
 background: #F5F6F8;
 display: flex;
 align-items: center;
 justify-content: space-around;
 ro
} */
.product_card {
  height: 175px;
  width: 500px;
  background: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-right: 24px;
}
.product_title {
  font-size: 16px;
}
.product_detail {
  font-size: 12px;
}
.horizontal-box3 {
  height: 174px;
  width: 500px;
  background: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-right: 24px;
}
.product_title3 {
  font-size: 16px;
}
.product_detail3 {
  font-size: 12px;
}
.horizontal-box4 {
  height: 174px;
  width: 500px;
  background: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-right: 24px;
}
.product_title4 {
  font-size: 16px;
}
.product_detail4 {
  font-size: 12px;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-box1 {
  width: 424px;
  height: 180px;
  margin-top: 24px;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
}
.top-boxtext {
  font-size: 16px;
  color: white;
  margin-left: 16px;
  font-weight: 500;
}
.top-box2 {
  width: 424px;
  height: 180px;
  margin-top: 24px;
  display: flex;
  align-items: end;
  margin-left: 24px;
}
.top-box3 {
  width: 424px;
  height: 180px;
  margin-top: 24px;
  display: flex;
  align-items: end;
  margin-left: 24px;
}
.nav-bar {
  /* height: 150px; */

  display: flex;
  padding: 24px 0;
}
.logo {
  margin-left: 70px;
}
.search-bar {
  height: 48px;
  width: 760px;
  border-radius: 50px;
}
.help-button {
  height: 48px;
  width: 88px;
  border-radius: 50px;
  background: #eb6d20;
  margin-left: 24px;
  margin-right: 13px;
}
.account {
  margin-left: 5px;
  /* margin-top: 10px; */
}
.shopping {
  margin-left: 5px;
}
.nav {
  display: flex;
  gap: 90px;
  justify-content: center;
}
.account-btn {
  display: flex;
  align-items: center;
  margin-right: 20px;
  border: none;
  background: none;
}
header {
  background: #fff9f3;
}
