.product-box {
    width: 312px;
    height: 418px;
    background: #d3fbd9;
    border-radius: 5px;
    margin: 24px;
    padding: 24px;
}

.product-img {
    display: block;
    margin: 0 auto;
}

.product-card {
    width: 32px;
}

.img-section {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.product-title {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin-bottom: 12px;

}

.product-color {
    height: 16px !important;
    width: 16px  !important;
    border-radius: 8px;
}

.colors-container {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 160px;
}
.sub-heading{
    font-weight: 400;
    font-size:  14px;
    margin-top: 24px;
    margin-bottom: 8px;
    height: 56px;
}
.price{
    font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}